<%= link_to "Login", user_omniauth_authorize_path(provider: :github) unless user_signed_in? %>
<%= link_to "Logout", destroy_user_session_path, method: :delete if user_signed_in? %>

<ul>
	<li>Signed In: <pre><%= user_signed_in? ? current_user.inspect : "No" %></pre></li>
	<li>Octokit User Name: <pre><%= @octokit_user_name %></pre></li>
	<li>Octokit gello-spikes (private repo) issues: <pre><%= @octokit_issues.map {|i| "#{i.id}: #{i.title}" }.inspect %></pre></li>
</ul>

<ul>
	<% current_user.repos(controller.github_access_token).each do |repo| %>
		<li><%= link_to repo.name, "http://github.com/" + repo.full_name %></li>
	<% end if user_signed_in? %>
</ul>	
