<!DOCTYPE html>
<html>
  <head>
    <title>Gello</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <%= csrf_meta_tags %>
  </head>
  <body id="internal-body">
    <header>
      <div class="container">
        <div class="header-logo">
          <img src="/assets/gello_logo.png">
        </div>
        <div class="right-pane">
          <% if current_user %>
            <div class="logout-link">
              <%= link_to  destroy_user_session_path, method: :delete do %>
                <% image_tag "logout.png" %>
              <% end %>
            </div>
            <div class="user-avatar">
              <%= image_tag current_user.github_avatar_url, alt: "avatar" %>
            </div>
          <% else %>
            <div class="login-link-container">
              <%= link_to "Login", user_omniauth_authorize_path(provider: :github), class: "login-link" %>
            </div>
          <% end %>
          <div class="current-project">
            <% if @project %>
              <%= @project.github_path %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <div id="page-body">
      <div class="container">
        <div class="flash-messages">
          <% if flash[:notice] %>
              <div class="notices"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:error] %>
              <div class="errors"><%= flash[:error] %></div>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
